* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
body {
    background-color:#ccc6ec;
    color: #333;
    line-height: 1.5;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}
.container {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}   
h2 {
    color: #e8491d;
    margin-right: 20px;
}  
.book-profile {
    display: flex;
    gap: 200px;
    align-items: space-around;
    padding-left: 10px;
}
.book-profile a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.book-profile a:hover{
    color: #e8491d;
}
.book-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    gap: 20px;
    border-bottom: 1px solid #ddd;
}
.book-item:hover {
    background-color: #f1f1f1;
}
.book-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}
.book-description {
    font-size: 14px;
    color: #666;
    text-align: justify;
}
.book-price {
   
    min-width: 60px;
    text-align: right;
    font-weight: bold;
    color: #8B0000;
    font-size: 18px;
}
.book-image {
    max-width: 200px;
    display: block;
    border-radius: 5px;
    height: 100px;

}
.book-image:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.book-details {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.section-title {
    font-size: 24px;
    margin: 20px 0 15px;
    padding-left: 10px;
    border-bottom: 1px dotted #e8491d;
    padding-bottom: 5px;
    color: #e8491d;
}
@media (max-width: 600px) {
    .book-item {
        flex-direction: column;
        align-items: flex-start;
    }
    .book-image {
        margin-bottom: 10px;
        height: auto;
        max-width: 100%;
    }
    .book-price {
        text-align: left;
        margin-top: 10px;
    }
}

